/* Switch nav to flex layout for mobile */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

/* Show hamburger */
.hamburger {
    display: block;
}

/* Hide the default UL in mobile */
#nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    /* navbar height */
    right: 1em;
    background: rgba(255, 255, 255, 0.975);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.25);
    /* list-style: none; */
    z-index: 1000;
}

/* Show links when active */
#nav-links.active {
    display: flex !important;
}

/* Move logo to the left in mobile */
#nav-logo {
    order: -1;
    /* ensures it appears first in flex */
    margin-right: auto;
}